@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Lato&family=Montserrat&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
    color: #42526e;
}

#background-image {
    height: 30%;
    z-index: -2;
    position: fixed;
    margin: 4rem;
   /** height: 100%;
    width: 100%;
    z-index: -2;
    position: fixed; **/
}

#logo {
    width: 100%;
    position: absolute;
    top: 10rem;
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    color: darkcyan;
}
.container {
    margin: auto;
    width: 70%;
   /** border: 3px solid #73AD21; **/
    padding: 10px;
    top: 20%;
   /** background-color: #bce0e18c; **/
    height: 61vh;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.container-index {
    margin: auto;
    width: 60%;
    padding: 10px;
    top: 20%;
    height: 55vh;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.content {
    color: #42526e;
    padding: 7px 20px;
    cursor: pointer;
    margin-left: auto;
    font-weight: 500;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content-quiz {
    width: 70%;

}

.contact_line {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding: 0.3rem;
}

.contact_input {
    color: #42526e;
    padding: 7px 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: large;
    border: #efeae6;
    border-radius: 0.5rem;
    margin: 0.3rem;
    background: #bce0e11f;
    border: 1px solid;
}

#quiz-header {
    text-align: center;
    padding: 2rem;
}

#short-intro {
    text-align: justify;
}

#start-btn {
    width: 20rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
    background: #bce0e1;
    border-radius: 0.5rem;
  
}
#start-quiz-btn {
    cursor: pointer;
    background: #bce0e1;
    color: #42526e;
    cursor: pointer;
    font-weight: 500;
    font-size: large;
    border: #efeae6;
    width: 100%;
    font-weight: 600;
}

.wrapper{
    height: 100vh;
}

.btn {
    padding: 20px;
    margin: 6px;
    color: grey;
    cursor: pointer;
    background: #bce0e1;
    color: #42526e;
    cursor: pointer;
    font-weight: 500;
    font-size: large;
    border: #efeae6;
    border-radius: 0.5rem;

}

.btn:hover{
    background: yellowgreen;
   
}






.answer-options {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#question-text {
    padding-left: 1rem;
    font-size: x-large;
}

.choice-prefix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.btn-option {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.btn-option:disabled {
    cursor: default;
}

.choice-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 1rem;
}

.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.score {
    font-size: xx-large;
    font-weight: 500;
    text-align: center;
    margin: 2rem;
}

.hide {
    display: none;
}