@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Lato&family=Montserrat&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
    color: #42526e;
    max-height: 100%;
}

/* Header */
.header-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#background-image {
        height: 30%;
        margin-top: 7rem;
        width: 20%;
}

#logo {
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: darkcyan;
}
/* Index page */

.wrapper{
    /* height: 100vh;*/
}

.container-index {
    margin: auto;
    width: 50%;
    min-width: 768px;
    padding: 10px;
    top: 10%;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.content {
    color: #42526e;
    padding: 7px 20px;
    cursor: pointer;
    margin-left: auto;
    font-weight: 500;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#short-intro {
    text-align: justify;
}

#message {
    font-size: larger;
    text-align: center;
}

/*Username field*/

.contact_line {
    margin-top: 3.1rem;
    margin-bottom: 0.1rem;
    font-size: xx-large;
}

.contact_input {
    color: #42526e;
    padding: 7px 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: large;
    border-radius: 0.5rem;
    margin: 0.3rem;
    background: #bce0e11f;
    border: 0.5px solid #bce0e1;
    width: 20rem;
    text-align: center;
}
/*Start quiz button on the index page*/

#start-btn {
    width: 20rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
    background: #bce0e1;
    border-radius: 0.5rem;
  
}
#start-quiz-btn {
    cursor: pointer;
    background: #bce0e1;
    color: #42526e;
    cursor: pointer;
    font-weight: 500;
    font-size: large;
    border: #efeae6;
    width: 100%;
    font-weight: 600;
}

/*The quiz page*/

.container {
    margin: auto;
    width: 50%;
    min-width: 768px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-quiz {
   /*width: 70%;*/
}

#quiz-header {
    text-align: center;
    padding: 2rem 0 0 0;
}

#quiz-header-subtitle {
    margin: 2rem;
    font-size: large;
}

/* The control buttons */

.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.btn {
    padding: 20px;
    margin: 6px;
    color: grey;
    cursor: pointer;
    background: #bce0e1;
    color: #42526e;
    cursor: pointer;
    font-weight: 500;
    font-size: large;
    border: #efeae6;
    border-radius: 0.5rem;
}

.btn:hover{
    background: yellowgreen;
}

.answer-options {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#question-text {
    margin: 1rem;
    margin-left: 1rem;
    font-size: x-large;
    text-align: center;

}

/*The answer are alphabetically ordered from A to D */

.choice-prefix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/* The answers */

.choice-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 1rem;
    text-align: left;
}

.btn-option {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 2px solid white;
}

.btn-option:hover{
    background: yellowgreen;
   
}

.btn-option:disabled {
    cursor: default;
}

/*score panel*/

.score {
    font-size: xx-large;
    font-weight: 500;
    text-align: center;
    margin: 2rem;
}

.hide {
    display: none;
}

/*Media queries*/

@media only screen and (max-width: 400px) {
    
    #logo {
        font-size: xx-large;
        width: 100%;
    }

    #background-image {
        height: 10%;
        margin-top: 3rem;
        width: 25%;
    }

    .contact_line {
        font-size: large;
        margin-top: 2rem;
    }

    #start-btn {
        padding: 0.5rem;
    }

    .content {
        padding: 0px;
    }

    #question-text {
        font-size: medium !important;
    }

    .choice-text {
        font-size: small !important;
    }

    .btn {
        padding: 10px;
        font-size: small !important;
    }

    #short-intro {
        font-size: medium;
    }

    #message {
        font-size: small;
    }

    .score {
        font-size: medium !important;
    }

    #quiz-header-subtitle {
        font-size: medium;
    }

    #start-quiz-btn {
        font-size: medium;
    }

    .contact_input {
        font-size: medium;
    }
}

@media only screen and (max-width: 768px) {
    
    #quiz-header {
        font-size: 4.5vw !important;
        padding: 0.2rem !important;
    }

    .header-inner {
        flex-direction: row;
        justify-content: center;
        margin-top: 1rem;
    }

    #logo {
        font-size: 8vw !important;
    }

    #background-image {
        height: 18%;
        margin-top: 0px;
        width: 25%;
    }
    .container {
        width: 100%;
        min-width: 0px;
    }

    .container-index {
        width: 100%;
        min-width: 0px;
    }

    #question-text {
        font-size: large;
    }

    .choice-text {
        font-size: medium;
    }
    .btn {
        padding: 10px;
        font-size: medium;
    }
}

@media only screen and (max-width: 992px) {
    #background-image {
        height: 18%;
    }
    #logo {
        font-size: xxx-large;
    }

    .score {
        font-size: large;
        text-align: center;
        margin: 0.2rem;
    }

    #quiz-header {
        font-size: x-large;
        padding: 1rem;
    }
    
}

@media only screen and (max-width: 1440px){
    
   
}